<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-title>Update User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>First Name</ion-label>
    <ion-input [(ngModel)]="firstName" placeholder="First Name" type="text"></ion-input>
  </ion-item>

  <ion-button class="button-colors" expand="block" (click)="getUser()">Find User</ion-button>

  <ion-item *ngIf="user">
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="user.email" placeholder="Email" type="text"></ion-input>
  </ion-item>

  <ion-item *ngIf="user">
    <ion-label>Password</ion-label>
    <ion-input [(ngModel)]="user.password" placeholder="Password" type="password"></ion-input>
  </ion-item>

  <ion-item *ngIf="user">
    <ion-label>Last Name</ion-label>
    <ion-input [(ngModel)]="user.lastName" placeholder="Last Name" type="text"></ion-input>
  </ion-item>

  <ion-item *ngIf="user">
    <ion-label>Profile Picture</ion-label>
    <ion-input [(ngModel)]="user.pic" placeholder="Profile Picture" type="text"></ion-input>
  </ion-item>

  <ion-item *ngIf="user">
    <ion-label>Bio</ion-label>
    <ion-textarea [(ngModel)]="user.bio" placeholder="Bio"></ion-textarea>
  </ion-item>

  <ion-item *ngIf="user">
    <ion-label>Telephone</ion-label>
    <ion-textarea [(ngModel)]="user.telephone" placeholder="Telephone"></ion-textarea>
  </ion-item>


  <ion-item *ngIf="user">
    <ion-label>Is Service Provider</ion-label>
    <ion-checkbox [(ngModel)]="user.isServiceProvider"></ion-checkbox>
  </ion-item>

  <ion-item *ngIf="user">
    <ion-label>Service</ion-label>
    <ion-input [(ngModel)]="user.service" placeholder="Service" type="text"></ion-input>
  </ion-item>

  <ion-button class="button-colors" expand="block" (click)="updateUser()" *ngIf="user">Update User</ion-button>
</ion-content>
