.heading{
  font-weight: 600;
  font-size: 18px;
}

ion-title{
  font-size: 14px;
  font-weight: 600;
  text-align: center;

}

.ion-card-delete{
  background-color: rgb(209, 7, 0);
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.ion-card-update{
  background-color: rgb(228, 158, 6);
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.ion-card-register{
  background-color: rgb(82, 1, 233);
  font-weight: bolder;
  color: rgb(255, 255, 255);

}
